{% extends 'flatpages/default.html' %}

{% block title %}
🔥
{% endblock title %}

{% block content %}
   <h1 style="text-align: center;">Все объявления</h1>
    <p style="text-align: center;">постов: {{ posts|length }}</p>

{% for post in posts %}
    <p><a href="{% url 'post' post.id %}"><strong>{{ post.post_title }}</strong></a></p>
   <p>  {{ post.post_body | safe }}</p>  {# | safe позволяет рендерить as-is #}
       <strong>Автор: </strong>{{ post.author.user }}
               <strong>🕗</strong>{{ post.post_datetime|date:'d M' }}
            <strong>Категория</strong>
    {{post.category.get_name_display}}

    {% if user.is_authenticated and post.author.user != user %}

        <button>
        <a class="nav-link" href="{% url 'add_comment' post.id %}">
            <h6><strong>Откликнуться</strong></h6>
        </a>
        </button>

    {% elif user.is_authenticated and post.author.user == user %}

        <button>
        <a class="nav-link" href="{% url 'post' post.id %}">
            <h6><strong>Это ваше объявление</strong></h6>
        </a>
        </button>


    {% endif %}
        <strong>Отклики: </strong> {{ post.comment_set.all|length }}

       <hr />
{% endfor %}

    </p>
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
    <p style="text-align: center;">
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</p>


{% endblock content %}